@use 'src/utils/scss/flex-center' as fc;
@use "src/utils/scss/colors" as clr;
main {
  width: 100vw;
  height: 100vh;
  background: url("/assets/img/blurry-gradient.svg") no-repeat center / cover;
  @include fc.flex-center();
}

.splash {

  margin-top: -25vh;
  text-align: center;

  .title {
    font-size: clamp(2rem, 15vw, 7rem);
  }

  .subtitle {
    font-size: clamp(1.7rem, 5vw, 4rem);
  }

  .title, .subtitle {
    margin-bottom: 1rem;
  }

  #enter {
    margin-top: 2rem;
    display: block;
    padding: 2vw 4vw;
    outline: 1px solid currentColor;
    font-weight: 400;

    &:hover {
      color: white;
      background-color: clr.$clr-text;
    }
  }

}
