@mixin block-border {
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  padding-block: 1em;
}
.me {
  background-color: var(--clr-accent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1[role=title] {
    margin-block: 0 1.3rem;
  }

  h2[role=subtitle] {
    margin-block: 0 1rem;
  }
  img {
    max-width: 225px;
    border-radius: 999vh;
  }
}
