@use "sass:map";
@use "utils/scss/colors";
@import "./_typography";
@import "./utils/scss/links";

:root {
  --clr-brand: #{map.get(colors.$colors, "brand")};
  --clr-warning: #{map.get(colors.$colors, "warning")};
  --clr-accent: #{map.get(colors.$colors, "accent")};
}
* {
  box-sizing: border-box;
  padding: unset;
  margin: unset;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
  line-height: 1.7;
}

header,
section {
  padding: 1rem;
}
img {
  line-height: 1;
}
a {

}


